doctype
html
    head
        title List Items
    body
        h1 #{message}
        table
            tr 
                td No.   
                td Article
        table
            for item in listOfItems
                tr
                    td #{item.index}   
                    td #{item.name}

