doctype
html
    head
        title List Items
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    body
        h1 #{message}
        form(action="/item" method="post" id="itemForm")
            input(type="text" placeholder="Add new Item" name="itemName" id="newItemInput")
            input(type="submit" value="Add new Item" id="addItemButton")
        table
            tr
                th Article
        table(id= 'listItems')
            each item in listOfItems
                tr 
                    td
                        button(id='modifyItemButton' value=item.id) Edit
                        div(id="dialog-confirm" title="Empty the recycle bin?" hidden)
                            p Modify Item
                            input(type="text" id="modifiedNameItem")
                    td #{item.name}
                    td 
                        button(type='submit' id='deleteItemButton' value=item.id) Delete

        script(type='text/javascript').
            $('button#deleteItemButton').click(function () {
                const $tr = $(this).closest('tr');
                $.ajax({
                    url: "http://localhost:3000/item/" + this.value,
                    type: "DELETE",
                    success: function(data){
                        $tr.remove();                    
                    }
                });
            });

            $('button#modifyItemButton').click(function() {
                const idItemSelected = $(this).attr("value");
                $( "#dialog-confirm" ).dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "Save Changes": function() {
                            const input = $(this).find("input#modifiedNameItem").val();
                            $( this ).dialog( "close" );
                        },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                        }
                    }
                });

                /*$.ajax({
                            type: "PUT",
                            url: "http://localhost:3000/item/edit/" + idItemSelected,
                            //TODO: Add form to input the new name of item and get value
                            data: { name: "newName" },
                            success: function(data){
                                alert("listo");
                            }
                        }); */
            });
