doctype
html
    head
        title List Items
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    body
        h1 #{message}
        form(action="/item" method="post" id="itemForm")
            input(type="text" placeholder="Add new Item" name="itemName" id="newItemInput")
            input(type="submit" value="Add new Item" id="addItemButton")
        table
            tr
                th Article
        table(id= 'listItems')
            each item in listOfItems
                tr(id=item.id)
                    td
                        button(id='modifyItemButton') Edit
                        div(id="dialog-confirm" title="Modify item detail" hidden)
                            p Modify Item
                            form
                                input(type="text" id="modifiedNameItem")
                    td #{item.name}
                    td 
                        button(type='submit' id='deleteItemButton' value=item.id) Delete

        script(type='text/javascript').
            $('button#deleteItemButton').click(function () {
                const $tr = $(this).closest('tr');
                $.ajax({
                    headers: { accept: "application/json" },
                    url: "http://localhost:3000/item/" + this.value,
                    type: "DELETE",
                    success: function(data){
                        $tr.remove();                    
                    }
                });
            });

            
            $('button#modifyItemButton').click(function(event) {
                event.preventDefault();
                
                const idItemSelected = $(this).closest('tr').attr("id");
                const currentCellNameItem = $(this).closest('tr#' + idItemSelected).children().eq(1);

                function saveChange(modalEvent) {
                    modalEvent.preventDefault();

                    const newNameItem = $(this).find("input#modifiedNameItem").val();
                    $.ajax({
                        headers: { accept: "application/json" },
                        type: "PUT",
                        url: "http://localhost:3000/item/" + idItemSelected,
                        data: { name: newNameItem },
                        success: (data) => {
                            currentCellNameItem.replaceWith("<td>" + newNameItem + "</td>");
                            $(this).dialog("close")
                        },
                    });
                }

                function cancelChange() {
                    $(this).dialog( "close" );
                }

                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "Save Changes": saveChange,
                        Cancel: cancelChange,
                    }
                });
            });
