html
    head
        title Login
    body
        form(action="/login" method="post" id="loginForm")
            div
                label Username:
                input(type="text" name="username")
                label Password:
                input(type="password" name="password")
            div
                input(type="submit" value="Log In")