<!--Reference: https://codepen.io/ricardpriet/pen/zPqyvY -->
html
    head
        title MyAPP
        link(href='/static/css/error.css', rel='stylesheet')
    body
        header
            h1 Error Page
            p(class="zoom-area") #{error.description}
            section(class="error-container")
                span 4
                span
                    span(class="screen-reader-text") 0
                span 4