html
    head
        title MyAPP
        link(href='/static/css/home.css', rel='stylesheet')
    body
        div(class='main-container')
            div(class='navigation-container' role='navigation')
                a(href='#' class="home") Home
                form(class='button' action="/login" method="get" id="loginForm")
                    input(type="submit" value="Log In")
            div(class='logo-container')
                h1 Welcome to MyAPP
            