html
    head
        title MyAPP
        link(href='/static/css/home.css', rel='stylesheet')
    body
        header
            ul(class='navigation-container' role='navigation')
                li
                    a(href='/') Home
                li
                    h1 MyAPP
                li
                    a(href="/entry") Log In
