html
    head
        title MyAPP
        link(href='/static/css/home.css', rel='stylesheet')
    body
        header
            ul(class='navigation-container' role='navigation')
                li
                    a(class="home" href='#') Home
                li
                    form(class='button' action="/login" method="get" id="loginForm")
                        input(type="submit" value="Log In")
            div(class='logo-container')
                h1 Welcome to MyAPP
            