html
    head
        title Welcome to MyAPP
    body
        h1 Welcome to MyAPP
        form(action="/login" method="get" id="loginForm")
            div
                input(type="submit" value="Log In")