html
    head
        title Login
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
        link(href='/static/css/login.css', rel='stylesheet')
    body
        ul(class="forms")
            li
                form(action="/signup" method="post" class="signForm")
                    h1 Sign up
                    div
                        input(type="text" name="email" class="email" placeholder="Email")
                    div
                        input(type="text" name="username" class="username" placeholder="Username")
                    div
                        input(type="password" name="password" class="password" placeholder="Password")
                    div
                        input(type="password" name="passwordRepeat" class="password" placeholder="Repeat Password")
                    div
                        input(type="submit" class="submit" value="Sign Up")
                    div#error #{error}

            li
                form(action="/login" method="post" class="loginForm")
                    h1 Log In
                    div
                        input(type="text" name="username" class="username" placeholder="Username")
                    div
                        input(type="password" name="password" class="password" placeholder="Password")
                    div
                        input(type="submit" class="submit" value="Log In")
                    div#error #{error}

        script(src='/static/login.js')
