header {
  width: 95%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  background-color: rgb(173, 118, 51); 
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 5%;
}

li a {
  display: block;
  text-align: center;
  padding: 24.5px;
  color: rgb(88, 61, 28);
  text-decoration: none;
}

li a:hover {
  background-color: orange;
}

input[type=submit] {
  background:rgb(188, 131, 62);
  border-color: orange;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
}

input[type=submit]:hover {
  background: orange;
  box-shadow:none;
}
