header {
  width: 90%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
  background: rgb(246, 247, 189)
}

.navigation-container {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-container li a {
  display: inline-block;
  text-align: center;
  padding: 30px 15px;
  background: rgb(230, 172, 39);
  color: rgb(101, 86, 67);
  text-decoration: none;
}

.navigation-container li a:hover {
  background: rgb(191, 77, 40);
  color: black;
}

.navigation-container li h1 {
  padding: 0px 150px;
  color: rgb(101, 86, 67);
}