header {
  width: 95%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  background-color: peru; 
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 5%;
}

.navigation-container li form{
  align-items: center;
  padding: 20px;
}

li a {
  display: block;
  text-align: center;
  padding: 24.5px;
  color: black;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
}

.button {
}

